<div class="container">
  <h1>Passwort vergessen?</h1>

  <%= form_with url: password_reset_path do |form| %>

    <div class="mb-3">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control", placeholder: "Name" %>
    </div>

    <div class="mb-3">
      <%= form.submit "Abschicken", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>