<h1>Adminbereich</h1>
<div class="accordion" id="accordion-users-rooms">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingUsers">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUsers" aria-expanded="true" aria-controls="collapseUsers">
        User Management
      </button>
    </h2>
    <div id="collapseUsers" class="accordion-collapse collapse show" aria-labelledby="headingUsers" data-bs-parent="#accordion-users-rooms">
      <%= render partial: "user_accordion_body" %>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingUserManagement">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUserManagement" aria-expanded="false" aria-controls="collapseUserManagement">
        User Details
      </button>
    </h2>
    <div id="collapseUserManagement" class="accordion-collapse collapse" aria-labelledby="headingUserManagement" data-bs-parent="#accordion-users-rooms">
      <%= render partial: "user_management_accordion_body" %>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingRooms">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRooms" aria-expanded="false" aria-controls="collapseRooms">
        Räume
      </button>
    </h2>
    <div id="collapseRooms" class="accordion-collapse collapse" aria-labelledby="headingRooms" data-bs-parent="#accordion-users-rooms">
      <%= render partial: "rooms_accordion_body" %>
    </div>
  </div>
</div>