<!-- Button trigger modal -->
<div class="row">
  <div class="col"></div>
  <div class="col">
    <button type="button" class="btn btn-success shoppingButton" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Ich war einkaufen!
    </button>
  </div>
  <div class="col"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content screenWidth">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ich war einkaufen!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with method: :patch, url: "/shopping" do |form| %>
          <%= form.text_field :value, placeholder: "0.00", class: "inputField" %>
          <%= form.submit "Speichern", class: "btn btn-success shoppingSubmitButton" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
      </div>
    </div>
  </div>
</div>
