<table class="table table-bordered table-hover table-striped table-responsible table-overview">
  <thead>
  <tr>
    <th>Name</th>
    <th>Gesamt</th>
    <th>Wochenrate</th>
    <th>Betrag Essenskasse</th>
    <th>Betrag Investitionskasse</th>
    <th>Betrag Putzkasse</th>
    <th>Geputzt?</th>
    <% if User.where.not(:away => nil).present? %>
      <th>Weg bis zum</th>
    <% end %>
    <th></th>
    <% if Current.user.admin %>
      <th></th>
    <% end %>
  </tr>
  </thead>
  <% @user.each do |user| %>
    <%= render partial: "shared/table_item", object: user %>
  <% end %>
  <tr>
    <th>Gesamt</th>
    <td></td><td></td>
    <td>
      <%= number_with_precision(@user.map(&:food).sum, precision: 2, strip_insignificant_zeros: true) %>
    </td>
    <td>
      <%= number_with_precision(@user.map(&:invest).sum, precision: 2, strip_insignificant_zeros: true) %>
    </td>
    <td>
      <%= number_with_precision(@user.map(&:cleaning).sum, precision: 2, strip_insignificant_zeros: true) %>
    </td>
    <td></td><td></td>
  </tr>
</table>
