<div class="d-flex align-items-center justify-content-center">
  <h1>Finanzen der Zukunft</h1>
</div>
<div class="container">
  <% if Current.user.present? %>
    <% if @pending_restack != nil %>
      <%= render partial: "shared/restack_prompt" %>
    <% end %>

    <%= render partial: "shared/table" %>

      <%= render partial: "shared/away" %>
  <% end %>
  </div>
